<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TaskConquerorEntities" connectionString="metadata=res://*/Data.TaskConqueror.csdl|res://*/Data.TaskConqueror.ssdl|res://*/Data.TaskConqueror.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\TaskConqueror.sdf;Password=success&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TaskConquerorSql" connectionString="Data Source=|DataDirectory|\TaskConqueror.sdf;Password=success"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>